//通用样式
.page{
    padding-top:50px;
}
//背景图片
.img-background{
    background-image: url('/static/images/bgImg.png');
    background-size:100% 100%;
    background-position:center center;
}
.img-background-gif{
    background-image: url('/static/images/loading.gif');
    background-size:150% 100%;
    background-position:center center;
    overflow: hidden;
}